@import "tailwindcss";
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-in-out forwards;
}

/* hide scrollbar cross-browser */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}



.bg-grid-pattern {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 1px, transparent 1px);
  background-size: 44px 44px;
}
.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: black;
  }
}